###### Requirements without Version Specifiers ######`
pyarrow
pytables
pandas
numpy
jupyter
scipy
geojson
pillow
seaborn
h3
folium

###### Requirements with Version Specifiers ######`
geopandas >=0.9.0